<footer class="p-2 flex justify-between items-center mt-8">
    <small>
        The Ruby on Rails tutorial
    </small>
    <nav>
        <ul class="flex gap-4">
            <li>
                <%= link_to 'About', "#" %>
            </li>
            <li>
                <%= link_to 'Contact', "#" %>
            </li>
                        <li>
                <%= link_to 'Help', "#" %>
            </li>
        </ul>
    </nav>
</footer>