  <header id='header'>
    <div class=" flex justify-between items-center">
      <%= link_to 'sample app', root_path, id: "logo" %>
      <nav>
        <ul class="flex gap-4">
          <li class="link">
            <%= link_to 'Home', root_path %>
          </li>
            <li class="link">
            <%= link_to 'Help', "#" %>
          </li>
             <li class="link">
            <%= link_to 'Log in', "#" %>
          </li>

        </ul>
      </nav>
    </div>

  </header>